@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&family=Poppins:wght@300;400;500;600;700&display=swap');

:root {
    --color_1 : #0896f6;
    --color_2 : #ecf3f9;
    --color_2 : #ecf3f9;
    --color_3 : #ceeafd;
    --color_4 : #fdcee3;
    --color_5 : #7ac6f9;
    --color_6 : #fa79b7;
    
    --font_1 : Inter;
}
h1,
h2,
h3,
h4,
h5,
p,
span,
div,
a {
    font-family: var(--font_1);
}
p {
    color: rgba(29, 41, 57, 1);
}
.bg_color1 {
    background-color: rgba(241, 246, 255, 1);
}
.bg_color2 {
    background-color: var(--color_3);
}
.bg_color3 {
    background-color: var(--color_4);
}
.bg_color4 {
    background-color: var(--color_1) !important;
}
.text_color1 {
    color: var(--color_5);
}
.text_color2 {
    color: var(--color_6);
}
.text_color3 {
    color: var(--color_1) !important;
}
.h-500 {
    height: 500px;
}
.mt_225 {
    margin-top: -225px;
}
.heading_xsm {
    text-transform: uppercase;
    letter-spacing: 6px;
    font-size: 16px;
    font-weight: 500;
    color: var(--color_1);
}
.heading_main {
    font-weight: 600;
    color: rgba(16, 24, 40, 1);
    font-family: 'Montserrat', sans-serif;
    font-size: 32px;
    line-height: 32px;
    position: relative;
    display: inline-block;
    padding-bottom: 15px;
    margin-bottom: 20px;
}
.heading_main:after {
    content: '';
    position: absolute;
    background: rgba(0, 22, 124, 1);
    top: 100%;
    left: 0;
    height: 4px;
    width: 80%;
    border-radius: 100px;
}
#loadeer {
    display: none;
}
.step_item {
    display: none;
}
.step_item#step1 {
    display: block;
}

.ai_image {
    display: none;
}
.ai_image.show {
    display: block;
}
.upload_image.hide {
    display: none;
}

.humberger {
    width: 38px;
    display: block;
    height: 2px;
    background: #fff;
    margin-bottom: 8px;
    transition: 0.3s;
    border-radius: 100px;
}
.humberger:first-child {
    width: 19px;
}
.humberger:last-child {
    margin-bottom: 0;
}
.menu_open_wrap {
    transition: 0.3s;
    transform: rotate(180deg);
}
.menu_open_wrap:hover .humberger {
    width: 38px;
}
.custom_btn {
    background: transparent;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 147px;
    height: 48px;
    color: #FFF;
    text-align: center;
    font-style: normal;
    font-weight: 500;
    border: 1px solid #fff;
    border-radius: 100px;
    font-family: 'Poppins', sans-serif;
}
.video_bg {
    height: 650px;
    padding: 50px 0;
}
.video_bg_src {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}
.video_bg_overlay {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    background: rgba(6, 22, 60, 0.66);
}
.search_form {
    width: 470px;
    height: 56px;
    background: rgba(3, 22, 34, 0.5);
    border: 1px solid rgba(255, 255, 255, 0.4);
    border-radius: 100px;
    display: flex;
    align-items: center;
    padding: 0 5px 0 30px;
}
.search_form input {
    width: 100%;
    height: 100%;
    background: transparent;
    color: rgba(234, 236, 240, 1);
    font-family: 'Montserrat', sans-serif;
}
.search_form input:focus {
    outline: none;
}
.search_form input::placeholder {
    color: rgba(234, 236, 240, 1);
}
.search_form button {
    font-family: 'Poppins', sans-serif;
    background: rgba(255, 255, 255, 1);
    color: rgba(0, 22, 124, 1);
    width: 230px;
    height: 47px;
    border-radius: 100px;
    border: none;
}

/* multiselect css */
.cat_multiSelect {
    position: relative;
}
.cat_multiSelect_field {
    display: none;
}
.cat_multiSelect *, .cat_multiSelect *::before, .cat_multiSelect *::after {
    box-sizing: border-box;
}

.cat_multiSelect_dropdown {
    font-size: 14px;
    min-height: 49px;
    line-height: 49px;
    border-radius: 4px;
    box-shadow: none;
    outline: none;
    background-color: #fff;
    color: #444f5b;
    border: 1px solid #d9dbde;
    font-weight: 400;
    padding: 0.5px 13px;
    margin: 0;
    transition: .1s border-color ease-in-out;  
    cursor: pointer;
}

.cat_multiSelect_dropdown.-hasValue {
    padding: 5px 30px 5px 5px;
    cursor: default;
}

.cat_multiSelect_dropdown.-open {
    box-shadow: none;
    outline: none;
    padding: 4.5px 29.5px 4.5px 4.5px;
    border: 1.5px solid #4073FF;
}

.cat_multiSelect_arrow::before,
.cat_multiSelect_arrow::after {
    content: '';
    position: absolute;
    display: block;
    width: 2px;
    height: 8px;
    border-radius: 20px;
    border-bottom: 8px solid #99A3BA;
    top: 40%;
    transition: all .15s ease;
}

.cat_multiSelect_arrow::before {
    right: 18px;
    -webkit-transform: rotate(-50deg);
    transform: rotate(-50deg);
}

.cat_multiSelect_arrow::after {
    right: 13px;
    -webkit-transform: rotate(50deg);
    transform: rotate(50deg);
}

.cat_multiSelect_list {
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    list-style: none;
    opacity: 0;
    visibility: hidden;
    position: absolute;
    max-height: calc(10 * 31px);
    top: 28px;
    left: 0;
    z-index: 9999;
    right: 0;
    background: #fff;
    border-radius: 4px;
    overflow-x: hidden;
    overflow-y: auto;
    -webkit-transform-origin: 0 0;
    transform-origin: 0 0;
    transition: opacity 0.1s ease, visibility 0.1s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.1s ease, visibility 0.1s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    -webkit-transform: scale(0.8) translate(0, 4px);
    transform: scale(0.8) translate(0, 4px);
    border: 1px solid #d9dbde;
    box-shadow: 0px 10px 20px 0px rgba(0, 0, 0, 0.12);
}

.cat_multiSelect_option {
    margin: 0;
    padding: 0;
    opacity: 0;
    -webkit-transform: translate(6px, 0);
    transform: translate(6px, 0);
    transition: all .15s ease;
}

.cat_multiSelect_option.-selected {
    display: none;
}

.cat_multiSelect_option:hover .cat_multiSelect_text {
    color: #fff;
    background: #4d84fe;
}

.cat_multiSelect_text {
    cursor: pointer;
    display: block;
    padding: 5px 13px;
    color: #525c67;
    font-size: 14px;
    text-decoration: none;
    outline: none;
    position: relative;
    transition: all .15s ease;
}

.cat_multiSelect_list.-open {
    opacity: 1;
    visibility: visible;
    -webkit-transform: scale(1) translate(0, 12px);
    transform: scale(1) translate(0, 12px);
    transition: opacity 0.15s ease, visibility 0.15s ease, -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
    transition: opacity 0.15s ease, visibility 0.15s ease, transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32), -webkit-transform 0.15s cubic-bezier(0.4, 0.6, 0.5, 1.32);
}

.cat_multiSelect_list.-open + .cat_multiSelect_arrow::before {
    -webkit-transform: rotate(-130deg);
    transform: rotate(-130deg);
}

.cat_multiSelect_list.-open + .cat_multiSelect_arrow::after {
    -webkit-transform: rotate(130deg);
    transform: rotate(130deg);
}

.cat_multiSelect_list.-open .cat_multiSelect_option {
    opacity: 1;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(1) {
  transition-delay: 10ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(2) {
  transition-delay: 20ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(3) {
  transition-delay: 30ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(4) {
  transition-delay: 40ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(5) {
  transition-delay: 50ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(6) {
  transition-delay: 60ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(7) {
  transition-delay: 70ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(8) {
  transition-delay: 80ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(9) {
  transition-delay: 90ms;
}

.cat_multiSelect_list.-open .cat_multiSelect_option:nth-child(10) {
  transition-delay: 100ms;
}

.cat_multiSelect_choice {
    background: rgba(77, 132, 254, 0.1);
    color: #444f5b;
    padding: 4px 8px;
    line-height: 17px;
    margin: 5px;
    display: inline-block;
    font-size: 13px;
    border-radius: 30px;
    cursor: pointer;
    font-weight: 500;
}

.cat_multiSelect_deselect {
    width: 12px;
    height: 12px;
    display: inline-block;
    stroke: #b2bac3;
    stroke-width: 4px;
    margin-top: -1px;
    margin-left: 2px;
    vertical-align: middle;
}

.cat_multiSelect_choice:hover .cat_multiSelect_deselect {
    stroke: #a1a8b1;
}

.cat_multiSelect_noselections {
    text-align: center;
    padding: 7px;
    color: #b2bac3;
    font-weight: 450;
    margin: 0;
}

.cat_multiSelect_placeholder {
    position: absolute;
    left: 20px;
    font-size: 14px;
    top: 13px;
    padding: 0 4px;
    background-color: #fff;
    color: #b8bcbf;
    pointer-events: none;
    transition: all .1s ease;
}

.cat_multiSelect_dropdown.-open + .cat_multiSelect_placeholder,
.cat_multiSelect_dropdown.-open.-hasValue + .cat_multiSelect_placeholder {
    top: -11px;
    left: 17px;
    color: #4073FF;
    font-size: 13px;
}

.cat_multiSelect_dropdown.-hasValue + .cat_multiSelect_placeholder {
    top: -11px;
    left: 17px;
    color: #6e7277;
    font-size: 13px;
}
.sub_cat {
    margin-left: 15px;
}


/* new home page style css */
:root {
    --color_n1 : rgba(0, 22, 124, 1);
}
a,
p,
span {
    font-family: 'Poppins', sans-serif;
}
.custom_container {
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}
.custom_container_lg {
    max-width: 1620px;
    padding: 0 20px;
    margin: 0 auto;
}
.bg_colorN1 {
    background-color: var(--color_n1);
}
.logo_wrap img {
    height: 60px;
}
.title_1 {
    font-size: 48px;
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #fff;
    line-height: 62.4px;
}
.text_1 {
    font-family: 'Poppins', sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 28.8px;
    color: #fff;
}
.banner_article .banner_article_image img {
    width: 111px;
    height: 114px;
    object-fit: cover;
    border-radius: 4px;
}
.title_2 {
    font-family: 'Poppins', sans-serif;
    color: rgba(255, 255, 255, 1);
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
}
.cat_1{
    font-weight: 300;
    font-size: 12px;
    color: rgba(255, 255, 255, 1);
    display: inline-block;
    margin-right: 10px;
}
.author_text1 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(208, 213, 221, 1);
}
.author_text2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 500;
    font-size: 14px;
    color: rgba(255, 255, 255, 1);
}
.author_text3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 14px;
    color: rgba(208, 213, 221, 1);
}
.author_text1_1 {
    color: rgba(71, 84, 103, 1);
}
.author_text2_1 {
    color: rgba(29, 41, 57, 1)
}
.author_text3_1 {
    color: rgba(71, 84, 103, 1);
}
.banner_article {
    border-bottom: 1px solid rgba(102, 112, 133, 1);
    padding-bottom: 20px;
    margin-bottom: 20px;
}
.banner_article:last-child {
    border-bottom: none;
    padding-bottom: 0;
    margin-bottom: 0;
}
.banner_post_slider {
    width: 100%;
    padding-bottom: 40px;
    margin-bottom: -40px;
}

.pagination_type1 .swiper-pagination-bullet {
    width: 14px;
    height: 4px;
    border-radius: 100px;
    background: rgba(208, 213, 221, 1);
}
.pagination_type1 .swiper-pagination-bullet.swiper-pagination-bullet-active {
    width: 32px;
    background: rgba(255, 255, 255, 1);
}
.grid_wrapper_1 {
    display: grid;
    grid-template-columns: 2fr 1.3fr;
}
.btn_2 {
    width: 114px;
    height: 48px;
    background: rgba(0, 22, 124, 1);
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    color: #fff;
}
.article_card {
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    overflow: hidden;
}
.featured_img_1 {
    height: 276px;
    width: 100%;
    object-fit: cover;
    object-position: top;
}
.cat_2 {
    color: rgba(52, 64, 84, 1);
    font-weight: 400;
    font-size: 14px;
}
.cat_2::before {
    content: '';
    width: 8px;
    height: 8px;
    background-color: rgba(0, 22, 124, 1);
    display: inline-block;
    border-radius: 100px;
    margin-right: 10px;
    margin-bottom: 1px;
}
.cat_wrap_1 {
    border-bottom: 1px solid rgba(234, 236, 240, 1);
    padding: 10px 0;
}
.title_3 {
    color: rgba(16, 24, 40, 1);
    font-weight: 600;
    font-size: 18px;
}
.grid_wrapper_2 {
    grid-template-columns: 2fr 1fr;
}
.count_1 {
    font-size: 24px;
    font-weight: 600;
    color: rgba(255, 255, 255, 1);
    background: rgba(0, 22, 124, 1);
    width: 66px;
    height: 62px;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom-right-radius: 8px;
}
.border_1 {
    border-bottom: 1.5px dashed rgba(208, 213, 221, 1);
    margin: 20px 0 30px 0;
}
.article_card_2 {
    display: flex;
    border-radius: 8px;
    gap: 10px;
}
.featured_img_2 {
    width: 123px;
    height: 123px;
    border-radius: 4px;
}
.featured_img_2 {
    width: 123px;
    height: 123px;
    border-radius: 4px;
    overflow: hidden;
}
.count_2 {
    bottom: 0;
    right: 0;
    width: 39.17px;
    height: 40.15px;
    font-size: 18px;
}
.top_profile_box {
    background: rgba(255, 255, 255, 1);
    border-radius: 16px;
    padding: 32px;
}
.top_profile_header {
    border-bottom: 1px solid rgba(234, 236, 240, 1);
    padding-bottom: 20px;
    margin-bottom: 35px;
}
.title_4 {
    font-size: 22px;
    font-weight: 600;
    color: rgba(16, 24, 40, 1);
    font-family: 'Montserrat', sans-serif;
}
.link_1 {
    font-weight: 500;
    color: rgba(0, 22, 124, 1);
}
.rank_1 {
    font-family: 'Montserrat', sans-serif;
    font-size: 17.31px;
    color: rgba(0, 22, 124, 1);
    font-weight: 500;
    background: rgba(229, 237, 255, 1);
    width: 40px;
    height: 40px;
    display: flex;
    border-radius: 100px;
    justify-content: center;
    align-items: center;
}
.roundImg1 {
    width: 64px;
    height: 64px;
    object-fit: cover;
    border-radius: 100px;
}
.title_5 {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: 500;
    color: rgba(71, 84, 103, 1);
}
.profile_item {
    border-bottom: 1px dashed rgba(208, 213, 221, 1);
    margin-bottom: 25px;
    padding-bottom: 15px;
}
.profile_item:last-child {
    border: none;
    margin-bottom: 0;
    padding-bottom: 0;
}
.image_1 {
    width: 149px;
}
.social li {
    display: inline-block;
}
.social li a {
    width: 36px;
    height: 36px;
    display: flex;
    border: 1px solid rgba(29, 41, 57, 1);
    justify-content: center;
    align-items: center;
    border-radius: 100px;
    transition: 0.3s;
}
.social li a:hover {
    background: rgba(0, 22, 124, 1);
    border-color: rgba(0, 22, 124, 1);
}
.social li a:hover path {
    fill: #fff;
}